{% extends "cursos/base.html" %}
{% load static %}
{% block title %}Actualizar Estudiante{% endblock %}

{% block content %}
    <form actio="" method="POST">
            {% csrf_token %}
            <p>Nombre: </p>
            <input type="text" name="nombre" value="{{ estudiante.nombre }}" required>
            <p>Apellido: </p>
            <input type="text" name="apellido" value="{{ estudiante.apellido }}" required>
            <p>Email: </p>
            <input type="email" name="email" value="{{ estudiante.email }}" required>
            <p>Fecha de Nacimiento: </p>
            <input type="date" name="fecha_nacimiento" value="{{ estudiante.fecha_nacimiento }}" required>
            
            <button type="submit">Guardar Cambios</button>
        </form>

{% endblock %}